<footer class="site-footer">
  <h3>{{ site.title }}</h3>

  <div class="row">
    <div class="column">
      <ul class="contact-list">
<!--         <li>{{ site.title }}</li> -->
        <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a> <a href="http://instagram.com/trunadraws"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
      </ul>
    </div>

    <div class="column">
      <ul class="social-media-list">
        <li>made w/ <a href ="http://isabellareiff.com"><3</a><li>
      </ul>
    </div>

    <div class="column">
      <ul class="contact-list">
        <li>copyright © {{ site.title }} 2017</li>
      </ul>
    </div>
  </div>

</footer>
